body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid black;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.selected {
    outline: 2px solid red;
}

.possible-move {
    background-color: rgba(0, 255, 0, 0.4);
}

